:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0a192f;
}

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 10px;
  /* color: #8892b0; */
  color: #ccd6f6;
  margin: 2rem;
  height: 90vh;
}

/*!----NAV-----*/
nav {
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav > .icon {
  position: relative;
}

nav > .icon > h1 {
  font-size: 7rem;
  font-weight: 400;
  color: #1380e4;
}

nav > .icon > h1 > .inverted {
  display: inline-block;
  transform: rotateX(180deg);
  position: absolute;
  left: 0;
  top: 12%;
  color: #26ffff;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

nav > ul > li {
  font-size: 2rem;
  text-align: center;
  padding: 0.2rem 1rem;
}

/* !----------MAIN--------- */
main {
  grid-row: 1/3;
  display: flex;
}
main > .banner-img {
  position: relative;
}

main > .banner-img > h1 > span {
  color: #1380e4;
}

main > .banner-img > h1 > span:nth-child(2) {
  color: #26ffff;
}

main > .banner-img::before {
  content: 'Junior Developer';
  display: flex;
  height: 10rem;
  width: 10rem;
  background-color: rgba(38 255 255 /90%);

  border-radius: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0a192f;
  font-size: 1.2rem;
  transform: rotate(10deg);
  bottom: 30%;
  right: 0;
}

main > .banner-img::after {
  content: 'Fullstack';
  display: flex;
  height: 7rem;
  width: 7rem;
  background-color: rgba(19 128 228 / 80%);

  border-radius: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #26ffff;
  font-size: 1.2rem;
  transform: rotate(-15deg);
  top: 30%;
  left: 5%;
}

main > .banner-img > h1 {
  position: absolute;
  bottom: 10%;
  z-index: 2;
  font-size: 4rem;
  background-color: #0a192f;
  padding: 1rem;
  border-radius: 15px;
  letter-spacing: 8px;
  text-transform: uppercase;
  right: -25%;
}

main > .banner-img > img {
  width: 100%;
  height: 90vh;
}

main > .banner-content {
  width: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
}
main > .banner-content > p {
  font-size: 1.8rem;
  width: 70%;
  position: relative;
}
main > .banner-content > p > span {
  color: #8892b0;
  display: block;
  margin-bottom: 1rem;
  position: relative;
  left: -20%;
}
main > .banner-content > p > span:nth-child(2) {
  color: #8892b0;
  display: block;
  margin-bottom: 1rem;
  position: absolute;
  right: -20%;
  left: 20%;
  margin-top: 1rem;
}

/* !----FOOTER------- */
footer {
  display: flex;
}
